<app-navbar></app-navbar>
<router-outlet></router-outlet>
<p>master-page works!</p>

<!-- <div *ngFor="let resultado of resultados">
    {{resultado.date}}
    {{resultado.temperatureC}}
    {{resultado.temperatureF}}
    {{resultado.summary}}
</div> -->

<!-- <div>
    <span>CPF: {{result.cpf}}</span><br>
    <span>Sexo: {{result.sexo}}</span><br>
    <span>Nome: {{result.nome}}</span><br>
    <span>DataNasc: {{result.dataNascimento}}</span><br>
    <span>Id: {{result.id}}</span><br>
    <span>Data criação: {{result.dataCriacao}}</span><br>
    <span>Data atualização: {{result.dataAtualizacao}}</span><br>
    <span>Deletado: {{result.deletado}}</span>
</div> -->
